/* 查看代码块样式覆盖 */
.custom-container.details {
  margin: 0 !important;
  padding: 0.5em 1.6em;
  border: 1px solid var(--c-border) !important;
  border-top: none !important;
}

// markdown样式
table {
  code {
    // color: rgba(225, 19, 19, 0.727);
    color: var(--tip-color);
    background: var(--c-bg-lighter) !important;
  }

  thead {
    background: var(--c-bg-lighter);
  }
  tr {
    background: transparent !important;
  }
}

.toggle-color-mode-button {
  color: var(--c-brand);
  transform: scale(1.3);
}

.demoWrapper {
  border: 1px solid var(--c-border);
  border-bottom-style: dashed;
  padding: 20px;
}

.site-name.can-hide {
  font-weight: normal !important;
  color: #989898 !important;
  font-size: 16px;
  line-height: 45px;
}
